.container {
  width: 100%;
  overflow-y: hidden;
  margin: 0 auto;
  display: grid;
  grid-template-columns:
    1em
    minmax(min-content, var(--max-width))
    1em;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns:
      minmax(2em, 1fr)
      minmax(min-content, var(--max-width))
      minmax(2em, 1fr);
  }

  &--bg-grey {
    background-color: #eee;

    @media screen and (min-width: 768px) {
      padding: 4em 0;
    }
  }

  &__content-width {
    display: grid;
    grid-column: 2 / -2;
    row-gap: 4em;
    grid-auto-rows: 1fr;
  }

  &__paragraph-width {
    display: grid;
    grid-column: 2 / -2;
    // row-gap: 4em;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr minmax(min-content, 620px) 1fr 1fr;

    > p {
      grid-column: 3 / -3;
    }
  }

  &__full-width {
    grid-column: 1 / -1;
  }
}
