.main {
  width: 100vw;
  overflow-y: hidden;

  &--home {
    margin-bottom: 8rem;
    display: grid;
    row-gap: 6em;
  }

  &--artist {
    margin-bottom: 8rem;
    display: grid;
    row-gap: 6em;
  }
}
