.tag-list-wrap {
  display: flex;
  margin-bottom: 0.5em;

  &--heroExcerpt,
  &--default {
    a {
      color: var(--cfye);
    }
  }

  &--articleExcerpt {
    a {
      color: var(--meta);
    }

    span {
      text-transform: lowercase;
    }
  }

  &--is-even {
    justify-content: flex-end;
  }

  span {
    font-style: italic;
    color: var(--meta);
    margin-right: 0.5em;
  }
}

.tag-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-style: italic;

  a {
    // color: var(--cfye);

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    &::after {
      content: ', \00a0';
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
