.wrap {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--grid-gap-size);
    grid-column: 3 / span 7;
    grid-auto-flow: row dense;
  }
}

.title {
  grid-column: 1 / -1;
  font-family: var(--body-font);
  font-style: italic;
  font-weight: 300;
  font-size: 2.5em;
  margin: 0;
}

.article {
  @media screen and (min-width: 768px) {
    gap: var(--grid-gap-size);
    grid-column: span 4;
  }
}
