.wrap {
  display: grid;
  grid-template-columns: 1% 2% 1fr 2% 1%;
  grid-gap: var(--grid-gap-size);
}

.title {
  grid-column: 3 / 4;
}

.article-wrapper {
  grid-column: 3 / 4;
  gap: var(--grid-gap-size);
  display: flex;
}

.article {
  grid-column-start: span 3;
}
