.hero-post {
  &__image-wrap {
    background-color: green;
    display: none;
  }
}

.image-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-border {
  position: absolute;
  top: 0;
  left: 0;
  border: 64px solid white;
}

.image {
  width: calc(50vw - 8rem);
  height: calc(100vh - 8rem);
}

.title {
  --underline-width: 0%;

  a {
    transition: all 0.3s ease;

    &:hover {
      text-decoration: none;
    }

    &::before {
      content: '';
      width: var(--underline-width);
      height: 4px;
      background: green;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
