.hero-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 8em auto;
  max-width: 1920px;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: var(--grid-columns-template);
    grid-template-rows: var(--grid-row-size);
    // grid-auto-rows: var(--grid-row-size);
    // grid-auto-flow: dense;
    gap: var(--grid-gap-size);
  }

  &:nth-child(odd) {
    .text-wrap {
      grid-column: 6 / span 2;
    }

    .image-wrap {
      grid-column: 2 / span 5;

      @media screen and (min-width: 1024px) {
        grid-column: 3 / span 5;
      }
    }
  }

  &:nth-child(even) {
    .text-wrap {
      grid-column: 5 / span 2;
    }

    .image-wrap {
      grid-column: 6 / span 4;

      @media screen and (min-width: 1024px) {
        grid-column: 5 / span 5;
      }
    }
  }
}

.image-wrap {
  grid-column: 3 / span 4;
  grid-row: 1 / span 5;

  @media screen and (min-width: 1024px) {
    grid-row: 1 / span 3;
  }
}

.text-wrap {
  grid-column: 7 / span 3;
  grid-row: 1 / span 2;
  // background: rgb(243, 243, 243);
  position: relative;
  z-index: 2;
  padding: 2em;
  text-decoration: none;
  // box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;

  @media screen and (min-width: 768px) {
    padding: 0;
  }

  @media screen and (min-width: 1024px) {
    grid-row: 4;
  }
}

.text-wrap h3 {
  font-size: 2em;
  letter-spacing: 0.1px;
  font-weight: 700;
  margin: 0;

  @media screen and (min-width: 1024px) {
    font-size: 3em;
  }
}

.text-wrap a {
  color: #333;
  text-decoration: none;
}
