.artists-grid {
  width: 100%;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: var(--grid-columns-template);
    grid-auto-flow: dense;
    gap: var(--grid-gap-size);
  }

  article {
    grid-column: 4 / span 2;

    &:nth-child(1n) {
      background: red;
    }

    &:nth-child(2n) {
      background: blue;
      grid-column: 7 / span 2;
    }
  }

  img {
    object-fit: cover;
  }
}

.frontpage-grid {
  margin-bottom: 4em;

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: var(--grid-columns-template);
    grid-column-gap: var(--grid-gap-size);
    grid-row-gap: 4em;
    grid-template-rows: auto;
  }
}
