.content {
  @apply leading-relaxed;
  @apply text-lg;
  @apply grid;

  grid-template-columns: 1rem 1fr minmax(33%, 55ch) 1fr 1rem;
  grid-template-areas: '. . paragraph . .';
  grid-template-rows: auto;
  grid-auto-flow: dense;

  @screen lg {
    grid-template-columns: 4rem 1fr minmax(500px, 55ch) 1fr 4rem;
  }

  @screen xl {
    grid-template-columns: 4rem 1fr minmax(500px, 65ch) 1fr 4rem;
  }

  p,
  ul,
  ol,
  blockquote {
    @apply mb-6;
  }

  strong {
    @apply font-bold;
  }

  p,
  ul,
  ol {
    @apply font-body;
    @apply text-lg;
    @apply font-light;

    @screen md {
      @apply text-xl;
    }
  }

  p,
  blockquote,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    grid-column: 3 / span 1;
  }

  a {
    @apply underline;
  }

  > ul,
  > ol {
    @apply pl-4;
  }

  > ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul > li > ul,
  ol > li > ol {
    @apply my-0;
    @apply ml-4;
  }

  ul > li > ul {
    list-style: circle;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-cfye;
    @apply max-w-2xl;
    @apply font-header;
  }

  h2 {
    @apply text-3xl;
    @apply mt-12;
    @apply mb-4;
    @apply leading-snug;
  }

  h3 {
    @apply text-2xl;
    @apply mt-8;
    @apply mb-4;
    @apply leading-snug;
  }

  h4 {
    @apply text-xl;
    @apply mt-6;
    @apply mb-4;
    @apply leading-snug;
  }

  pre {
    @apply whitespace-pre;
    @apply overflow-x-auto;
    @apply p-4;
    @apply text-sm;
    @apply leading-tight;
    @apply border;
    @apply border-gray-400;
    @apply bg-gray-100;
  }

  code {
    @apply text-sm;
  }

  figcaption {
    @apply text-center;
    @apply text-sm;
    @apply absolute;
    @apply bottom-0;
    @apply left-0;
    @apply w-full;
    @apply py-4;
  }

  blockquote {
    @apply border-l-4 border-cfye;
    @apply font-header font-medium italic;
    @apply my-4 mx-auto;
    @apply py-4 pl-4;
    @apply flex justify-center;
    @apply min-w-full;

    @screen lg {
      @apply px-6;
      @apply mx-0;
    }

    p {
      @apply my-0;
      @apply py-4;
      @apply font-header;
      @apply font-medium;
      @apply italic;
      @apply text-base;

      @screen lg {
        @apply text-xl;
      }
    }

    cite {
      @apply not-italic;
    }
  }

  audio {
    @apply w-full;
  }

  :global {
    .wp-block-image {
      @apply flex justify-center;
      @apply relative;
      @apply my-12;

      grid-column: 1 / span 5;

      @screen lg {
        grid-column: 2 / span 3;
      }

      &.is-style-cover-screen {
        @apply w-screen;
        @apply p-0;

        grid-column: 1 / span 5;

        @screen lg {
          @apply min-h-screen;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: auto;
        }
      }

      figcaption {
        @apply absolute;
        @apply bottom-0;
        @apply left-0;
        @apply w-full;
        @apply text-white font-header font-light;
        @apply m-0 p-2;

        display: none;
      }
    }

    /* Begin Blocks Gallery */

    figure + .wp-block-gallery {
      @apply mt-0;
    }

    /* .wp-block-gallery ~ .wp-block-image,
    .wp-block-image ~ .wp-block-gallery {
      margin: 0;
    } */

    .wp-block-gallery {
      @apply my-12;

      grid-column: 1 / span 5;

      @screen lg {
        grid-column: 2 / span 3;
      }

      &.columns-2 {
        .blocks-gallery-grid {
          grid-template-columns: repeat(2, 1fr);

          .blocks-gallery-item {
            /* &:nth-child(3n) {
              grid-column: span 2;
            } */
          }
        }
      }

      &.columns-3 {
        .blocks-gallery-grid {
          grid-template-columns: repeat(12, 1fr);
          grid-template-rows: 14.2vw;
          grid-auto-rows: 14.2vw;
        }

        .blocks-gallery-item {
          grid-column: span 4;
          grid-row: span 2;
        }
      }
    }

    .blocks-gallery-grid {
      @apply grid;
      @apply list-none;
      @apply my-0;
      @apply overflow-hidden;

      grid-template-columns: repeat(12, 1fr);

      /* grid-template-rows: 14.2vw;
      grid-auto-rows: 14.2vw; */
      grid-auto-flow: row dense;
      grid-gap: 1.5vw;

      @screen lg {
        /* @apply p-16; */
      }
    }

    .blocks-gallery-item {
      figure {
        @apply w-full;
        @apply h-full;

        position: relative;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &__caption {
        display: none;
      }
    }

    /* Embeds */
    .wp-block-embed {
      grid-column: 2 / span 3;

      @apply my-4;
      @apply mx-auto;

      width: 100vw;
      height: 56.25vw;

      &__wrapper {
        @apply w-full;
        @apply h-full;

        iframe {
          @apply w-full;
          @apply h-full;
        }
      }

      @screen lg {
        @apply my-0;
        @apply px-16;
        @apply w-full;
        @apply py-16;
        @apply my-16;

        background: pink;
      }
    }
  }
}
