.content {
  @apply leading-relaxed;
  @apply text-lg;

  p,
  ul,
  ol,
  blockquote {
    @apply my-6;
  }

  a {
    @apply underline;
  }

  > ul,
  > ol {
    @apply pl-4;
  }

  > ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul > li > ul,
  ol > li > ol {
    @apply my-0;
    @apply ml-4;
  }

  ul > li > ul {
    list-style: circle;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-cfye;
    @apply max-w-2xl;
    @apply mx-auto;
    @apply font-header;
  }

  h2 {
    @apply text-3xl;
    @apply mt-12;
    @apply mb-4;
    @apply leading-snug;
  }

  h3 {
    @apply text-2xl;
    @apply mt-8;
    @apply mb-4;
    @apply leading-snug;
  }

  h4 {
    @apply text-xl;
    @apply mt-6;
    @apply mb-4;
    @apply leading-snug;
  }

  pre {
    @apply whitespace-pre;
    @apply overflow-x-auto;
    @apply p-4;
    @apply text-sm;
    @apply leading-tight;
    @apply border;
    @apply border-gray-400;
    @apply bg-gray-100;
  }

  code {
    @apply text-sm;
  }

  figcaption {
    @apply text-center;
    @apply text-sm;
    @apply absolute;
    @apply bottom-0;
    @apply left-0;
    @apply w-full;
    @apply py-4;
  }

  blockquote {
    @apply border-l-4;
    @apply border-cfye;
    @apply font-medium;
    @apply italic;
    @apply my-10;
    @apply ml-0;
    @apply py-4;
    @apply px-6;
    @apply max-w-2xl;
    @apply mx-auto;
    @apply flex;
    @apply justify-center;
    @apply font-header;

    p {
      @apply my-0;
      @apply py-4;
      @apply font-header;
      @apply font-medium;
      @apply italic;
      @apply text-xl;
    }

    cite {
      @apply not-italic;
    }
  }

  audio {
    @apply w-full;
  }

  /* 
  > figure > img {
    @apply max-h-screen object-contain;

    max-height: calc(100vh - 6rem);
  } */

  :global {
    .wp-block-image {
      @apply px-12;
      @apply my-16;
      @apply flex;
      @apply relative;

      &.is-style-cover-screen {
        @apply w-screen min-h-screen;
        @apply p-0;

        img {
          object-fit: cover;
          height: auto;
        }
      }

      figcaption {
        @apply absolute;
        @apply bottom-0;
        @apply left-0;
        @apply w-full;
        @apply text-white font-header font-light;
        @apply m-0 p-2;

        display: none;
      }
    }

    /* Begin Blocks Gallery */

    .wp-block-gallery {
      &.columns-2 {
        .blocks-gallery-grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    .blocks-gallery-grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      /* grid-template-rows: 14.2vw;
      grid-auto-rows: 14.2vw; */
      grid-auto-flow: row dense;
      grid-gap: 1.5vw;
      margin-bottom: 1.5vw;
      overflow: hidden;

      @apply list-none;
      @apply p-16;
    }

    .blocks-gallery-item {
      figure {
        @apply w-full;
        @apply h-full;

        position: relative;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    /* Embeds */
    .wp-block-embed {
      @apply my-4;
      @apply mx-auto;

      width: 100vw;
      height: 56.25vw;

      @screen lg {
        @apply my-0;
        @apply px-16;
        @apply w-full;
        @apply py-16;
        @apply my-16;

        background: pink;
      }
    }
  }
}
