.post-body {
  display: grid;
  grid-template-columns: 1em 1fr 1fr minmax(min-content, 680px) 1fr 1fr 1em;

  @media screen and (min-width: 768px) {
    grid-template-columns: 2em 1fr 1fr minmax(min-content, 680px) 1fr 1fr 2em;
  }

  blockquote {
    grid-column: 2 / -2;
    margin: 1rem 0;

    @media screen and (min-width: 768px) {
      grid-column: 2 / -2;
    }

    @media screen and (min-width: 1280px) {
      grid-column: 3 / -3;
    }

    p {
      font-weight: 800;
      font-size: 2rem;
      margin: 0;

      @media screen and (min-width: 1280px) {
        font-size: 2.5rem;
      }
    }
  }

  figure.wp-block-gallery {
    grid-column: 1 / -1;

    @media screen and (min-width: 768px) {
      grid-column: 2 / -2;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    grid-column: 2 / -2;

    @media screen and (min-width: 768px) {
      grid-column: 4 / -4;
    }

    @media screen and (min-width: 1280px) {
      grid-column: 5 / -5;
    }
  }

  a {
    color: var(--cfye);
    text-decoration: underline;

    &:hover {
      text-decoration-style: dotted;
    }
  }

  h2 {
    font-size: 2.5em;
    margin-top: 0;
  }

  h3 {
    font-size: 2em;
    margin-bottom: 0;
  }

  strong {
    font-weight: 600;
  }

  p {
    grid-column: 4 / -4;
    display: block;
    font-size: 1.125em;
    line-height: 1.5;
    margin: 1rem 0;

    @media screen and (min-width: 768px) {
      font-size: 1.375em;
      line-height: 1.75;
    }

    img {
      width: 50%;
      height: auto;
      float: left;
      margin-right: 0.5em;

      @media screen and (min-width: 1280px) {
        float: left;
        width: 80%;
        margin-right: 0.5em;
        margin-bottom: 0.1em;
        height: auto;
        margin-left: -40%;
      }
    }

    a {
      color: var(--cfye);
    }

    + p {
      margin: 1em 0;
    }
  }

  br {
    display: none;
  }
}
