.entry-content {
  display: grid;
  grid-template-columns: var(--grid-columns-template);
  grid-auto-flow: dense;
  gap: var(--grid-gap-size);
  row-gap: 5em;
  width: 100%;
  overflow-x: hidden;
  max-width: var(--max-width);

  > p {
    font-size: 1.375em;
    line-height: 1.75;
    display: block;
    grid-column: 5 / span 3;
    margin: 0;
    max-width: 75ch;
  }

  p a {
    color: var(--cfye);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    grid-column: 5 / span 3;
  }

  h2 {
    font-size: 2.5em;
    margin-top: 0;
  }

  &__hr {
    display: block;
    margin: 0;
    padding: 0;
    height: 2px;
    width: 100%;
    background-color: var(--cfye);
    border: none;
    grid-column: 4 / span 5;
  }
}
