:root {
  --cfye: #ec008c;
  --text: #323232;
  --header-font: protipo-narrow, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: maecenas, serif;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: 500;
  font-style: normal;
  color: var(--cfye);
}

a {
  text-decoration: none;
}

a > h1 {
  text-decoration: none;
}

a > h2 {
  text-decoration: none;
}

a > h3 {
  text-decoration: none;
}

p {
  font-size: 1.25em;
  line-height: 1.5;
  color: --var(text);
}

.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 10px;
  z-index: 10;
  padding-bottom: 10px;
}

.logo-wrap {
  width: 50%;
  height: 50%;
}

.nav-toggle {
  box-sizing: border-box;
  padding: 0;
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: var(--cfye);
  flex-shrink: 0;
  z-index: 20;

  &:focus {
    /* box-shadow: 6px 6px 12px #cd007a, inset -6px -6px 12px #ff009e; */
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: block;
    padding: 2px;
  }

  &__bars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 8px;
    z-index: 101;
    list-style: none;
  }

  &__bars li {
    width: 100%;
    height: 3px;
    background: #fff;
    transform-origin: center;
  }
}

.nav-bar {
  height: 48px;
  width: 100vw;
  background: #ec008c;
  z-index: 10;
  position: relative;
  margin-left: 4px;
  transform-origin: center left;
  font-family: protipo-narrow, sans-serif;
  font-weight: 500;

  ul {
    list-style: none;
    margin: 0;
    padding: 0 1rem 0 1rem;
    display: flex;
    height: 100%;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  ul li {
    height: 100%;
    margin: 0 1rem;
    line-height: 1;
    color: #fff;
    cursor: pointer;
    position: relative;
  }

  ul a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    height: 100%;
    padding: 0 8px;
  }

  ul li .underline {
    width: 100%;
    height: 4px;
    background: #fff;
    align-self: flex-end;
    justify-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/**
 * Entry-content
 **/
.entry-content {
  display: grid;
  grid-template-columns: 1vw 2vw 4vw repeat(5, 1fr) 4vw 2vw 1vw;

  /* grid-template-rows: 14.2vw; */

  /* grid-auto-rows: 14.2vw; */

  grid-auto-flow: dense;
  gap: 1.5vw;
  width: 100%;
  overflow-x: hidden;
  margin: 4em auto;

  p {
    font-size: 1.375em;
    line-height: 1.75;
    display: block;
    grid-column: 5 / span 3;
    margin: 0 0 2em;
    max-width: 75ch;
  }

  p a {
    color: var(--cfye);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    grid-column: 5 / span 3;
  }

  h2 {
    font-size: 2.5em;
    margin-top: 0;
  }
}

.wp-block-image {
  grid-column: 3 / 10;
  margin: 4em 0;
  padding: 0;
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  &.is-style-cover-screen {
    grid-column: 1 / -1;
    height: 100vh;
  }

  &.is-style-cover-screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    font-family: var(--header-font);
    color: #fff;
  }
}

.wp-block-gallery {
  grid-column: 1 / -1;
  margin: 4em 0;
  padding: 0;

  &.columns-2 .blocks-gallery-item {
    &:first-child {
      grid-column: 2 / span 5;
      grid-row: 1 / span 3;
    }

    &:nth-child(2n) {
      grid-column: 7 / span 4;
      grid-row: 2 / span 3;
    }

    &:nth-child(3) {
      grid-column: 3 / span 4;
      grid-row: 4 / span 2;
    }
  }

  &.columns-3 .blocks-gallery-item {
    grid-column: span 3;
    grid-row: 1 / span;

    &:nth-child(1) {
      grid-column: 4 / span 5;
      grid-row: 1 / span 3;
    }

    &:nth-child(2) {
      grid-column: 2 / span 5;
      grid-row: 4 / span 3;
    }

    &:nth-child(3) {
      grid-column: 7 / span 4;
      grid-row: 4 / span 2;
    }

    &:nth-child(4) {
      grid-column: 2 / span 4;
      grid-row: 9 / span 2;
    }

    &:nth-child(5) {
      grid-column: 6 / span 5;
      grid-row: 8 / span 3;
    }

    &:nth-child(6) {
      grid-column: 4 / span 5;
      grid-row: 11 / span 3;
    }
  }
}

.blocks-gallery-grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1vw 2vw 4vw repeat(5, 1fr) 4vw 2vw 1vw;
  grid-template-rows: 14.2vw;
  grid-auto-rows: 14.2vw;
  grid-auto-flow: row;
  gap: 1.5vw;
}

.blocks-gallery-item {
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  figure {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

/* Block Quote */
.wp-block-quote {
  grid-column: 4 / span 4;
  margin: 4em 0 0;
  padding-right: 1em;
  text-align: left;
  color: var(--cfye);

  p {
    line-height: 1.5;
    font-size: 2em;
    font-weight: 600;
    font-style: italic;
  }
}
