:root {
  --cfye: #ec008c;
  --text: #323232;
  --meta: #999;
  --background-color: #fff;
  --header-font: protipo, sans-serif;
  --body-font: maecenas, serif;
  --grid-row-size: 14.2vw;
  --grid-gap-size: 1em;
  --grid-columns-template: minmax(1em, 1vw) minmax(2em, 2vw) 4% repeat(5, 1fr)
    4% minmax(2em, 2vw) minmax(1em, 1vw);
  --max-width: 2160px;
  --bp-desktop: 1024px;
  --bp-desktop-large: 1280px;
}

@import 'base';
@import 'nav-bar';
@import 'nav-toggle';
@import 'sep-title';
@import 'site-nav';
@import 'layout/main';
@import 'layout/container';
@import 'layout/category-wrap';
@import 'content/wp-block-gallery';
@import 'content/wp-block-embed';
@import 'content/wp-block-quote';
@import 'content/wp-block-image';
@import 'content/blocks-gallery-item';
@import 'content/blocks-gallery-grid';
