:root {
  --cfye: #ec008c;
  --text: #323232;
  --header-font: protipo-narrow, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: maecenas, serif;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: 500;
  font-style: normal;
  color: var(--cfye);
}

a {
  text-decoration: none;
}

a > h1 {
  text-decoration: none;
}

a > h2 {
  text-decoration: none;
}

a > h3 {
  text-decoration: none;
}

p {
  font-size: 1.25em;
  line-height: 1.5;
  color: --var(text);
}

.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 10px;
  z-index: 10;
  padding-bottom: 10px;
}

.logo-wrap {
  width: 50%;
  height: 50%;
}

.nav-toggle {
  box-sizing: border-box;
  padding: 0;
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: var(--cfye);
  flex-shrink: 0;
  z-index: 20;
}

.nav-toggle:focus {
  /* box-shadow: 6px 6px 12px #cd007a, inset -6px -6px 12px #ff009e; */
}

.nav-toggle__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: block;
  padding: 2px;
}

.nav-toggle__bars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 8px;
  z-index: 101;
  list-style: none;
}

.nav-toggle__bars li {
  width: 100%;
  height: 3px;
  background: #fff;
  transform-origin: center;
}

.nav-bar {
  height: 48px;
  width: 100vw;
  background: #ec008c;
  z-index: 10;
  position: relative;
  margin-left: 4px;
  transform-origin: center left;
  font-family: protipo-narrow, sans-serif;
  font-weight: 500;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0 1rem 0 1rem;
  display: flex;
  height: 100%;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-bar ul li {
  height: 100%;
  margin: 0 1rem;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.nav-bar ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  height: 100%;
  padding: 0 8px;
}

.nav-bar ul li .underline {
  width: 100%;
  height: 4px;
  background: #fff;
  align-self: flex-end;
  justify-self: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
}

/**
 * Entry-content
 **/

.entry-content {
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 2em repeat(5, 1fr) 2em;

  /* grid-template-rows: repeat(5, 1fr); */
  max-width: 1920px;
  gap: 0 0;
  margin: 4em auto;
  grid-auto-flow: row;

  /* grid-template-areas:
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'; */
}

.entry-content > p {
  font-size: 1.375em;
  display: block;
  grid-column: 3 / 6;
  margin: 0 0 2em;

  /* grid-row: 1 / 2; */
}

.entry-content > p a {
  color: var(--cfye);
}

.entry-content figure {
  /* display: none; */
  grid-column: 1 / 6;
}

.entry-content .wp-block-image {
  grid-column: 2 / 7;
  margin: 2em 0;
  padding: 0;
  position: relative;
}

.entry-content .wp-block-image img {
  width: 100%;
  height: auto;
  display: block;
}

.wp-block-image.is-style-cover-screen {
  grid-column: 1 / -1;
  height: 100vh;
}

.wp-block-image.is-style-cover-screen img {
  grid-column: 1 / -1;
  height: 100vh;
  height: 100%;
}

.wp-block-image figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  font-family: var(--header-font);
  color: #fff;
}

.wp-block-gallery {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
}

.wp-block-gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blocks-gallery-item figure {
  margin: 0;
  padding: 0;
}
