.tag-list-wrap {
  display: flex;
  font-family: var(--header-font);
  font-size: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: var(--meta);

  @media screen and (min-width: 1280px) {
    font-size: 0.875em;
  }

  svg {
    width: 0.75rem;
    height: 0.75rem;

    @media screen and (min-width: 1280px) {
      width: 1rem;
      height: 1rem;
    }
  }

  &--heroExcerpt,
  &--default {
    a {
      color: var(--cfye);
    }
  }

  &--articleExcerpt {
    a {
      color: var(--meta);
    }

    span {
      text-transform: lowercase;
    }
  }

  span {
    color: var(--meta);
    margin-right: 0.5em;
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  li {
    &::after {
      content: ', \00a0';
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
