.wrap {
  display: grid;
  grid-template-columns: 4vw repeat(5, 1fr) 4vw;
  grid-template-rows: 14.2vw;
  grid-auto-rows: 14.2vw;
  grid-auto-flow: row;
  gap: var(--grid-gap-size);

  &--is-even {
    .article {
      &:nth-of-type(1) {
        grid-column: 1 / span 4;
        grid-row: 1 / span 3;
      }

      &:nth-of-type(2) {
        grid-column: 5 / span 3;
        grid-row: 2 / span 2;
      }
    }
  }
}

.title {
  grid-column: 1 / -1;
  font-family: var(--body-font);
  font-style: italic;
  font-weight: 300;
  font-size: 2.5em;
  margin: 0 0 1rem;
  text-align: center;
}

.article {
  &:nth-of-type(1) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
  }

  &:nth-of-type(2) {
    grid-column: 4 / span 4;
    grid-row: 2 / span 2;
  }

  &:nth-of-type(3) {
    grid-column: 1 / span 4;
    grid-row: 4 / span 3;
  }
}

.more {
  grid-column: 5 / span 3;
  grid-row: 4 / span 3;
  grid-template-rows: 14.2vw;
  grid-auto-rows: 14.2vw;
  grid-auto-flow: row;
  display: grid;
  gap: var(--grid-gap-size);
}

.more-article {
  display: grid;
  grid-template-columns: 1fr 1fr 4vw;
  gap: var(--grid-gap-size);
}

.more-article-title {
  font-size: 2em;
  margin-top: 0;
  flex: 1;
}

.more-article-image-wrap {
  flex-grow: 1;
  overflow: hidden;
  object-fit: cover;
}

.more-content-wrap {
  flex-shrink: 1;
  grid-column: 2 / span 2;
}
