.wp-block-gallery {
  padding: 0;
  margin: 2em 0;

  @media screen and (min-width: 768px) {
    margin: 4em 0;
  }

  &.columns-2 {
    .blocks-gallery-grid {
      @media screen and(min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &.columns-3 .blocks-gallery-grid {
    @media screen and(min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}
