.wp-block-gallery {
  grid-column: 2 / -2;
  padding: 0;
  margin: 4em 0;

  &.columns-2 {
    .blocks-gallery-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--grid-gap-size);
    }
  }

  &.columns-3 .blocks-gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--grid-gap-size);

    img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}
