.wp-block-image {
  grid-column: 3 / 10;
  padding: 0;
  position: relative;
  margin: 2em 0;

  @media screen and (min-width: 768px) {
    margin: 4em 0;
  }

  img {
    width: 100%;
    height: auto;
    // max-height: 100vh;
    object-fit: contain;
    display: block;
  }

  &.is-style-cover-screen {
    grid-column: 1 / -1;
    margin: 2em 0;

    @media screen and (min-width: 768px) {
      margin: 4em 0;
    }
  }

  &.is-style-cover-screen img {
    width: 100%;
    object-fit: cover;
    // aspect-ratio: 16 / 9;
  }

  figcaption {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    font-family: var(--header-font);
    color: #fff;
  }
}
