.wp-block-image {
  padding: 0;
  position: relative;
  margin: 2em 0;
  grid-column: 1 / -1;

  @media screen and (min-width: 768px) {
    margin: 4em 0;
    grid-column: 3 / -3;
  }

  &.size-medium {
    @media screen and (min-width: 768px) {
      margin: 4em 0;
      grid-column: 4 / -4;
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
  }

  &.is-style-cover-screen {
    grid-column: 1 / -1;
    margin: 2em 0;

    @media screen and (min-width: 768px) {
      margin: 4em 0;
    }
  }

  &.is-style-cover-screen img {
    width: 100%;
    object-fit: cover;
  }

  figcaption {
    padding: 0.5em 1em 0;
    font-style: italic;
    text-align: center;
    color: var(--meta);
    font-size: 1.125rem;
    margin-bottom: 0;
  }
}
