.article {
  position: relative;
  width: 100%;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1em;
  z-index: 2;
  mix-blend-mode: lighten;
}

.title {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.1px;
  margin: 0;

  a {
    color: var(--cfye);
  }
}

.image-link {
  display: block;
  height: 100%;

  img {
    display: block;
    height: 100%;
  }
}

.tag-list-wrap {
  display: flex;
  margin-bottom: 0.5em;

  span {
    font-style: italic;
    color: var(--meta);
    margin-right: 0.5em;
  }
}

.tag-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-style: italic;

  a {
    color: var(--meta);

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    &::after {
      content: ', \00a0';
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
