.artist-summary {
  display: flex;
  grid-column: 2 / -2;

  @media screen and (min-width: 768px) {
    grid-column: 4 / -4;
  }

  @media screen and (min-width: 1280px) {
    grid-column: 5 / -5;
  }
}

.image-link-wrap {
  display: flex;
  flex-direction: column;
}

.avatar-wrap {
  border: 1px solid #ec008c;
  border-radius: 150px;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  margin-right: 1em;
}

.avatar {
  border-radius: 150px;
  display: block;
}

.content-wrap {
  flex: 1;
}

.link-list {
  list-style: none;
  display: flex;
  padding: 0;
  font-family: var(--header-font);
  text-transform: lowercase;

  li {
    margin-right: 1em;
  }

  a {
    color: #666;

    &:hover {
      color: var(--cfye);
    }
  }

  svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}
